@import './stories/sub-atomic/chromography/chromography.css';
@import './stories/sub-atomic/typography/typography.css';
@import './stories/sub-atomic/spatialography/spatialography.css';
@import './stories/sub-atomic/accessibility/accessibility.css';
@import './stories/sub-atomic/depthography/depthography.css';
@import './stories/sub-atomic/curvography/curvography.css';
@import './stories/sub-atomic/choreography/choreography.css';
@import './stories/sub-atomic/sizography/sizography.css';
@import './stories/sub-atomic/shadowgraphy/shadowgraphy.css';
@import './stories/sub-atomic/gridography/gridography.css';
@import './stories/sub-atomic/opacityography/opacityography.css';
@import './stories/sub-atomic/borderography/borderography.css';
@import './stories/sub-atomic/surfaceography/surfaceography.css';
@import './stories/sub-atomic/formography/formography.css';
@import './stories/sub-atomic/layoutography/layoutography.css';




*, *::before, *::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
}